body {
  background-color: rgb(221, 240, 249);
}
h1 {
  font-family: monospace; font-size: 35px;
}
h2 {
  font-family: monospace; font-size: 25px;
}
fieldset {
  width:700px; height:140px;
  background-color: rgb(227, 240, 246);
}
.text-in {
  font-family: Verdana; font-size: 13px;
}

.dd-sub {
  margin-left:54px;
}

.box-ip {
  margin-left:30px;
}

.cl-button {
  background-color:rgb(210, 236, 248);
  border: 1px solid black; padding: 7px;
  margin-left: 70px; cursor: pointer;
}

.cr-button {
  background-color:rgb(204, 213, 217);
  border: 1px solid black; padding: 7px;
  cursor: pointer;
}

#sn-table, #rs-table, #ps-table {
  border:1px solid black; border-collapse: collapse;
  /* margin-left:140px; */
  background-color: rgb(227, 240, 246);
}

th {
  font-family: monospace; font-size: 16px;
  text-align: center; 
  border-bottom: 1px solid black; border-left: 1px solid black;
  background-color:rgb(210, 236, 248);
}

td {
  font-size: 13px; 
  border-bottom: 1px solid black; border-left: 1px solid black;
  padding: 3px;
}

#res, #pos {
  background-color:rgb(210, 236, 248);
}

#message, #messagec {
  color: orangered;
}
